
 body{
     background-image:url("image.png");

     background-attachment: fixed;
     background-position: center;     
 }
 
 h1{
     font-size: 50px;
     font-family: Georgia;
     
     padding: 20px; 
     background-color: beige;
     margin-left: 600px;
     margin-right: 640px;
     }
h3{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    background-color: beige;
    width: fit-content;

    
}
.center {
    text-align: center;
    font-size: 20px;
    width: 1100px;
    height: 220px;
    background-color: beige;
    padding: 30px;
    margin-left: 170px;
}
ul{
    text-align: center;
    font-weight: 400px;
    font-size: 40px ;
    padding: 20px;
 }
 

.game{
    font-weight: 5px;
    
    
  }
  .luck{
      text-align: center;
      background-color: beige;
      font-size: 40px;
      height: 100px;
      width: 400px;
      margin-left: 550px;

  }

  .insert{
      text-align: left;
      text-transform: uppercase;
      background-color: beige;
      width: 200px;
      height: 20px;
      margin-top: 300px;
  }